.center {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    width: 50%;
    text-align: center;
    transform: translate(-50%, 0);
}

.pad {
    padding-bottom: 20px;
    padding-top: 50px;
  }