.footer {
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    border-top: 0.5px solid gray;
    position: absolute;
    width: 100%;
    bottom: -50px;
}

.footer-link {
    cursor:pointer;
    text-align: right;
    margin-right: 5px;
}